body {
    padding-top: 120px;
    padding-bottom: 20px;
    background-color: #333;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bg {
    background: url('/Content/Images/login_pages_background.png') no-repeat center center fixed;
    background-size: cover;
    /*width: 100%;*/
    height: 100%;
}

#login {
    text-align: center;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.formlogin-group {
    margin-bottom: 15px;
}
/* RADIOBUTTON-------------------------- */

.radiobutcontainer {
    position: relative;
    padding-left: 20px;
    /*margin-bottom: 40px;*/
}

.radiobutcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmarkgreen {
    margin: 3px;
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #777;
}

.radiobutcontainer:hover input ~ .checkmarkgreen {
    background-color: #ccc;
}

.radiobutcontainer input:checked ~ .checkmarkgreen {
    background-color: transparent;
}

.checkmarkgreen:after {
    content: "";
    position: absolute;
    display: none;
}

.radiobutcontainer input:checked ~ .checkmarkgreen:after {
    display: block;
}

.radiobutcontainer .checkmarkgreen:after {
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #2cf6b8;

}

/* checkmarkred------ */

.checkmarkred {
    margin: 3px;
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #777;
}

.radiobutcontainer:hover input ~ .checkmarkred {
    background-color: #ccc;
}

.radiobutcontainer input:checked ~ .checkmarkred {
    background-color: transparent;
}

.checkmarkred:after {
    content: "";
    position: absolute;
    display: none;
}

.radiobutcontainer input:checked ~ .checkmarkred:after {
    display: block;
}

.radiobutcontainer .checkmarkred:after {
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ea6676;
}

/* LOGIN-------------------------- */
.login-form{
    padding: 95px 30px;
}
.login-form input-container{
    margin-top: 40px;
    margin-bottom: 63px;
}
.login-form input-container input{
    padding-left: 40px;
}

.user-icon {
    position: absolute;
    top: 8px;
    left: 10px;
    padding-left: 15px;
}

.parag{
    padding-left: 35px;
}
.bg-login-field, .bg-login-field:focus {
    color: #fff;
    background-color: #ffffff26;
    border: transparent;
    /*opacity: 0.2*/
}
.bg-button-gradient {
    background: linear-gradient(to right, #667EEA, #764BA3);
    border: none;
    color: white;
}

.badge-border {
    border:medium;
    background-color:cadetblue;
    border-color: aqua;
    /*border-color: linear-gradient(to right, #667EEA, #764BA3);*/
}


/*.bg-login-field .foom-control-wrong:focus {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;
    // Avoid using mixin so we can pass custom focus shadow properly @if $enable-shadows

{
    box-shadow: $input-box-shadow, $input-focus-box-shadow;
}

@else {
    box-shadow: $input-focus-box-shadow;
}*/
.demo-preview {
    padding-top: 60px;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
}

    .demo-preview .badge {
        margin-right: 10px;
    }

.badge {
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    padding: 3px 6px;
    border: 1px solid transparent;
    min-width: 10px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 99999px
}

    .badge.badge-default {
        background-color: #B0BEC5
    }

    .badge.badge-primary {
        background-color: #2196F3
    }

    .badge.badge-secondary {
        background-color: #323a45
    }

    .badge.badge-success {
        background-color: #64DD17
    }

    .badge.badge-warning {
        background-color: #FFD600
    }

    .badge.badge-info {
        background-color: #29B6F6
    }

    .badge.badge-danger {
        background-color: #ef1c1c
    }

    .badge.badge-outlined {
        background-color: transparent
    }

        .badge.badge-outlined.badge-default {
            border-color: linear-gradient(to right, #667EEA, #764BA3);
            color: #B0BEC5
        }

        .badge.badge-outlined.badge-primary {
            border-color: #2196F3;
            color: #2196F3
        }

        .badge.badge-outlined.badge-secondary {
            border-color: #323a45;
            color: #323a45
        }

        .badge.badge-outlined.badge-success {
            border-color: #64DD17;
            color: #64DD17
        }

        .badge.badge-outlined.badge-warning {
            border-color: #FFD600;
            color: #FFD600
        }

        .badge.badge-outlined.badge-info {
            border-color: #29B6F6;
            color: #29B6F6
        }

        .badge.badge-outlined.badge-danger {
            border-color: #ef1c1c;
            color: #ef1c1c
        }

.yy {
    margin: 50px auto;
    width: 150px;
    height: 20px;
    border-left: 1px solid #3ACFD5;
    border-right: 1px solid #3a4ed5;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;

    background-size: 100% 1px;
    /*background-image: -webkit-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%), -webkit-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);*/
    /*background-image: -moz-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%), -moz-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);*/
    /*background-image: -o-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%), -o-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);*/
    background-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%), linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%);
}
