body {
    padding-top: 120px;
    padding-bottom: 20px;
    background-color: #333;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bg {
    background: url('/Content/Images/login_pages_background.png') no-repeat center center fixed;
    background-size: cover;
    /*width: 100%;*/
    height: 100%;
}

#login {
    text-align: center;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.formlogin-group {
    margin-bottom: 15px;
}

/*--------------KATE ELEMENTS------------*/
@font-face {
    font-family: Muli-SemiBold;
    src: url(Fonts/Muli-SemiBold.ttf);
}

@font-face {
    font-family: Muli-Bold;
    src: url(Fonts/Muli-Bold.ttf);
}

@font-face {
    font-family: Muli-Light;
    src: url(Fonts/Muli-Light.ttf);
}

div.custom-dropdown button, div.dropdown.custom-dropdown.show button {
    background-color: #2E2E2E;
    color: #E4E4E4;
}

    div.dropdown.custom-dropdown button:hover, div.dropdown.custom-dropdown.show button :active, div.dropdown-menu.show {
        background-color: #2E2E2E;
    }

        div.dropdown-menu.show a {
            color: #E4E4E4;
        }

            div.dropdown-menu.show a:hover {
                background-color: #333333;
            }

/*background: linear-gradient(to right, #667EEA, #764BA3);*/
/*================My profile form===================*/
div.custom-content-form {
    color: #FCFCFC;
    background-color: #2E2E2E;
    border: 1px solid #727272;
    border-radius: 12px;
}

div.form-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #222222;
    border-bottom: 1px solid #727272;
    border-radius: 12px 12px 0px 0px;
    font-family: 'Muli-Bold';
}

div.user-main-info {
    border-bottom: 1px solid #727272;
    overflow: hidden;
}

.indentation {
    padding-left: 7%;
    padding-right: 7%;
}

div.user-info div {
    padding-left: 7%;
    padding-right: 7%;
}

div.form-header a img.edit-link {
    color: #FCFCFC;
    height: 20px;
    float: right;
}

img.user-photo {
    margin: 10px 0px 10px 0px;
    height: 70px;
}

.user-surname {
    /*float: left;*/
    font-family: 'Muli-Bold';
}

.user-job-title, .user-status {
    color: #878787;
}

.content-right {
    float: left;
    margin: 10px 0 10px 20px;
}

.profile-content {
    /*font-family: 'Muli-Bold';*/
    color: #E1E1E1;
    margin: 0;
}

.signature {
    font-family: 'Muli-SemiBold';
    font-size: small;
    color: #878787;
    margin: 0;
    padding-top: 10px;
}

div.user-info div {
    font-family: 'Muli-SemiBold';
    margin: 10px 0 10px 0px;
}

@media (min-width: 768px) {
    .col-md-5 {
        border-right: 1px solid #727272;
    }
}

@media (max-width: 768px) {
    .col-md-5 {
        border-bottom: 1px solid #727272;
    }
}


/* RADIOBUTTON-------------------------- */

.radiobutcontainer {
    position: relative;
    padding-left: 20px;
    /*margin-bottom: 40px;*/
}

.radiobutcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmarkgreen {
    margin: 3px;
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #777;
}

.radiobutcontainer:hover input ~ .checkmarkgreen {
    background-color: #ccc;
}

.radiobutcontainer input:checked ~ .checkmarkgreen {
    background-color: transparent;
}

.checkmarkgreen:after {
    content: "";
    position: absolute;
    display: none;
}

.radiobutcontainer input:checked ~ .checkmarkgreen:after {
    display: block;
}

.radiobutcontainer .checkmarkgreen:after {
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #2cf6b8;

}

/* checkmarkred------ */

.checkmarkred {
    margin: 3px;
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #777;
}

.radiobutcontainer:hover input ~ .checkmarkred {
    background-color: #ccc;
}

.radiobutcontainer input:checked ~ .checkmarkred {
    background-color: transparent;
}

.checkmarkred:after {
    content: "";
    position: absolute;
    display: none;
}

.radiobutcontainer input:checked ~ .checkmarkred:after {
    display: block;
}

.radiobutcontainer .checkmarkred:after {
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ea6676;
}

/* LOGIN-------------------------- */
.login-form{
    padding: 95px 30px;
}
.login-form input-container{
    margin-top: 40px;
    margin-bottom: 63px;
}
.login-form input-container input{
    padding-left: 40px;
}

.user-icon {
    position: absolute;
    top: 8px;
    left: 10px;
    padding-left: 15px;
    
}

.close-icon {
    vertical-align: middle;    
}

.close-icon:before {
    content: "×";
}

.approvedicon {
    position: absolute;
    padding-top: 15px;
    padding-left: 15px;
    align-content:flex-start;
}

.approvedtext {
    position: absolute;
    padding-top: 8px;
    padding-left: 40px;
    color: white;
    text-align: left;
}


.parag {
    padding-left: 35px;
}

.bg-name-field, .bg-name-field:focus {
    color: #fff;
    background-color: transparent;
    border-color: #6c757d;
}

.bg-login-field, .bg-login-field:focus {
    color: #fff;
    background-color: #ffffff26;
    border: transparent;
}
.bg-button-gradient {
    background: linear-gradient(to right, #667EEA, #764BA3);
    border: none;
    color: white;
}

.badge-border {
    border:medium;
    background-color:cadetblue;
    /*border-color: linear-gradient(to right, #667EEA, #764BA3);*/
}

.badge {
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    padding: 5px 6px;
    border: 1px solid transparent;
    min-width: 10px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 99999px
}

    .badge.badge-outlined {
        background-color: transparent
    }

.outlinegradient-small {
    
    width: auto;
    height: 25px;
    border-left: 1px solid #667EEA;
    border-right: 1px solid #754BA2;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-size: 100% 1px;
    background-image: linear-gradient(to right, #667EEA 0%, #754BA2 100%), linear-gradient(to right, #667EEA 0%, #754BA2 100%);
}

.outlinegradient-large {
    /*margin: 50px auto;*/
    width: 245px;
    height: 70px;
    border-left: 1px solid #667EEA;
    border-right: 1px solid #754BA2;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    border-radius: 6px;
    background-size: 100% 1px;
    background-image: linear-gradient(to right, #667EEA 0%, #754BA2 100%), linear-gradient(to right, #667EEA 0%, #754BA2 100%);
}

/*-------------DIMA - NAVBAR--------------*/

div.centr {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

.new-img {
    margin-right: 10px;
}

/*nav*/
.mynav {
    background-color: #2E2E2E;
    color: white;
    padding: 0px;
}

/*brand*/
.navbar-light .navbar-brand {
    color: white;
    margin-left: 10px;
    margin-right: 5%;
    font-size: 14px
}

    .navbar-light .navbar-brand:hover, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
        color: white;
    }

#lined {
    padding-right: 20px;
    padding-bottom: 18px;
    padding-top: 18px;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

    #lined:before {
        display: block;
        position: absolute;
        content: "";
        height: 4px;
        width: 0;
        background: linear-gradient(to right, #667EEA, #764BA3);
        transition: width 0.3s ease-in-out;
        left: 0;
        bottom: 0;
    }

    #lined:hover:before {
        width: 100%;
    }

    #lined:focus:before {
        width: 100%;
    }
