
@{
    ViewBag.Title = "MyProfile";
}

<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="custom-content-form">
                <div class="form-header indentation">
                    My profile
                    <a href="#"><img src="~/Content/Icons/edit_icon_grey.svg" class="edit-link" alt="Edit"></a>
                </div>
                <div class="user-main-info indentation">
                    <div>
                        <div style="float: left;">
                            <img src="~/Content/Icons/user_profile_icon.svg" class="user-photo" />
                        </div>
                        <div class="content-right">
                            <div class="user-surname">
                                Name Surname
                            </div>
                            <div class="user-job-title">
                                Job title
                            </div>
                            <div class="user-status">
                                status
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-info">
                    <div>
                        <p class="signature">
                            date of birth
                        </p>
                        <p class="profile-content">
                            xx month
                        </p>
                    </div>
                    <div>
                        <p class="signature">
                            personal email
                        </p>
                        <p class="profile-content">
                            example email
                        </p>
                    </div>
                    <div>
                        <p class="signature">
                            phone number
                        </p>
                        <p class="profile-content">
                            +380936846845
                        </p>
                    </div>
                    <div>
                        <p class="signature">
                            skype
                        </p>
                        <p class="profile-content">
                            myskype
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="jumbotron jumb-style">
                <h1 class="align-items-center">8</h1>
                <p class="align-text-bottom">days available</p>
                <p><a class="btn btn-primary btn-lg align-content-md-center bg-button-gradient" href="#" role="button">REQUEST VACATION</a></p>
            </div>
            <div class="card bg-grey">
                <div class="table-header">Panel heading</div>

                <table class="table table-hover table-text-secondary">
                    <thead> <tr class="table-signature"> <th>vacation dates</th> <th>description</th> <th>status</th> <th>vacation balance</th> </tr> </thead>
                    <tbody>
                        <tr> <th scope=row class="table-text-primary">XX/XX/XX - XX/XX/XX</th> <td>Vacation</td> <td class="table-text-green">Approved</td> <td class="table-text-primary">XX days</td> </tr>
                        <tr> <th scope=row class="table-text-primary">XX/XX/XX - XX/XX/XX</th> <td>Vacation</td> <td class="table-text-red">Denied</td> <td class="table-text-primary">XX days</td> </tr>
                        <tr> <th scope=row class="table-text-primary">XX/XX/XX - XX/XX/XX</th> <td>Vacation</td> <td class="table-text-green">Approved</td> <td class="table-text-primary">XX says</td> </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

